@tailwind base;
@tailwind components;
@tailwind utilities;

/* change body to black */
body, footer {
  background-color: #000;
}

/* change text color to white */
p, h1, h2, h3, h4, h5, h6, a, span, div, li, button, input, label, select, textarea {
  color: white;
}

/* change input background color to black */
input, select, textarea {
  background-color: #0f172a;
  /* background-color: #1e293b; */
  border: 1px solid #334155;
  border-radius: 0.3rem;
}
